In [11]:
import pandas as pd

ruta = "datasets/iris/iris.csv"


iris = pd.read_csv(ruta)

In [12]:
Nrows, Ncolumnas = iris.shape
print(Nrows)
print(Ncolumnas)

149
5

In [13]:
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [17]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [18]:
iris.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [20]:
iris.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.054362    3.773826    1.206040
std      0.828594    0.435810    1.760543    0.760354
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [33]:
iris.groupby(["Iris-setosa"]).size()

Iris-setosa
Iris-setosa        49
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [38]:
iris.sum()

5.1                                                        871.4
3.5                                                        455.1
1.4                                                        562.3
0.2                                                        179.7
Iris-setosa    Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object