# Importing libraries

In [1]:
# Import the packages that we will be using
import pandas as pd

# Importing data

In [14]:
# Dataset url
ruta = "datasets/iris/iris.csv"

# Load the dataset
dataset = pd.read_csv(ruta)
dataset.columns=["Sepal length in cm","Sepal width in cm", "Petal length in cm", "Petal width in cm", "Class" ]

In [15]:
dataset

,Sepal length in cm,Sepal width in cm,Petal length in cm,Petal width in cm,Class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
columns=["Sepal length in cm","Sepal width in cm", "Petal length in cm", "Petal width in cm", "Class" ]

In [7]:
dataset

,5.1,3.5,1.4,0.2,Iris-setosa
0,Sepal length in cm,Sepal width in cm,Petal length in cm,Petal width in cm,Class
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica